@import "../app/presentation/styles/index.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  width: inherit;
  font-family: var(--font-family-base), sans-serif;
  font: normal, 1rem;
  -webkit-font-smoothing: antialiased;
  background: var(--color-background);
  color: var(--color-light);
  font-variant-numeric: tabular-nums;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
