$nickelColors: (
  primary: (
    light: #d3c6f1,
    pure: #8257e6,
    dark: #422d76,
  ),

  secondary: #323238,
  tertiary: #202024,
  light: #e1e1e6,
  background: #121214,

  $systemColors: (
    success: (
      light: #c8f3da,
      pure: #5fee98,
      dark: #3d9862,
    ),
    error: (
      light: #eeb7c3,
      pure: #dc264c,
      dark: #b01e3d,
    ),
  ),
);
