@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function colors($key: "white") {
  @return map-get($colors, $key);
}

@function palette($keys...) {
  $map: $nickelColors;

  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}
