:root {
  // Font Family
  --font-family-primary: Urbanist, sans-serif;
  --font-family-base: Inter, sans-serif;

  // Line Height
  --line-height-sm: 125%;
  --line-height-md: 150%;
  --line-height-lg: 175%;

  // Font Weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // Font Sizes
  --font-size-xs: 0.85rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;

  // Borders
  --border-size-default: 1px;
  --border-size-active: 2px;

  // Border Radius
  --border-radius-default: 8px;
  --border-radius-primary: 8px, 8px, 0, 8px;

  // Brand Colors
  --color-primary-light: #d3c6f1;
  --color-primary-pure: #8257e6;
  --color-primary-dark: #422d76;

  // System Colors
  --color-success-light: #c8f3da;
  --color-success-pure: #5fee98;
  --color-success-dark: #3d9862;

  --color-error-light: #eeb7c3;
  --color-error-pure: #dc264c;
  --color-error-dark: #b01e3d;

  --color-secondary: #323238;
  --color-tertiary: #202024;
  --color-light: #e1e1e6;
  --color-background: #121214;
}
